@charset "utf-8";
/**
 * @fileOverview 移动端清除默认样式
 * @module reset
 * @description 常用的默认样式清除，没有添加body，这个可根据实际项目自行添加
 * @version 1.0.0
**/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0;}
:focus{outline:0;}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:0}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
a img,fieldset{border:0;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:rgba(0,0,0,0)}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
li{
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color:#000;
    width: 100%;
    height: 100%
}
html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    tap-highlight-color: rgba(0,0,0,0.05);
    -webkit-tap-highlight-color: rgba(0,0,0,0.05);
    -ms-tap-highlight-color: rgba(0,0,0,0.05);
}
body {
    font-family: "微软雅黑",'Microsoft Yahei','PingFang SC Bold','PingFang SC';
    font-size: 10px;
    width: 100%;
    height: 100%;
}
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, em {
    margin: 0;
    padding: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: 0
}
i, em, address {
    font-style: normal;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color:inherit;
}
iframe {
    line-height: 0;
    overflow: hidden;
}
html .clearfix {
    *zoom:1
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both
}
.no-css{margin-right:0!important;margin-top:0!important;margin-bottom:0!important;margin-left:0!important;}


